<ng-container class="flex flex-column justify-content-between w-full">
    <app-header title="Image Gallery" [actions]="headerActions"></app-header>
    <p-floatlabel>
        <input type="text" pInputText id="search" />
        <label for="search">Image Title</label>
    </p-floatlabel>
    <br>
    <div class="w-full grid ">
        @for(image of images;track $index){
        <div class="lg:col-4 sm:col-10 md:col-6 h-18rem ">
            <p-card styleClass=" shadow-3 border-round h-full">
                <p-image [src]="image.url" width="90%" height="80%"></p-image>
                <ng-template pTemplate="content">
                    <div class="flex justify-content-between align-items-center">
                        <p>{{image.title}}</p>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex justify-content-end align-items-center">
                        <p-button label="Delete" severity="danger"
                            styleClass="p-button-sm text-sm px-2 py-1 mx-2"></p-button>
                        <!-- <p-button label='Preview' styleClass="p-button-sm text-sm px-2 py-1"></p-button> -->
                    </div>
                </ng-template>

            </p-card>
        </div>
        }
    </div>
</ng-container>