<div class="flex justify-content-between align-items-center mb-4 w-full flex-wrap gap-3">
    <span class="w-full sm:w-30rem">
        <p-floatlabel>
            <input type="text" pInputText [(ngModel)]="searchTerm" (input)="onSearch.emit(searchTerm)" id="search" />
            <label for="search">{{searchPlaceholder}}</label>
        </p-floatlabel>

    </span>
    <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="label" placeholder="Filter by"
        (onChange)="onFilterChangeHandler(selectedFilter)" class="w-full sm:w-15rem"></p-dropdown>
</div>


<p-table [value]="data" responsiveLayout="scroll" styleClass="w-full">
    <ng-template pTemplate="header">
        <tr>
            @for (col of columns; track $index) {
            <th class="text-center">{{ col.header }}</th>
            }
            @if (actions.length > 0) {
            <th class="text-center">Actions</th>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <tr>
            @for (col of columns; track $index) {
            <td class="text-center">{{ row[col.field] }}</td>
            }
            @if (actions.length > 0) {
            <td>
                <div class="flex justify-content-center align-items-center" style="flex-wrap: nowrap;">
                    @if (actions.includes('view')) {
                    <p-button icon="pi pi-eye" severity="info" rounded (click)="onView.emit(row)"></p-button>
                    &nbsp;&nbsp;
                    }
                    @if (actions.includes('edit')) {
                    <p-button icon="pi pi-pencil" severity="success" rounded (click)="onEdit.emit(row)"></p-button>
                    &nbsp;&nbsp;
                    }
                    @if (actions.includes('delete')) {
                    <p-button icon="pi pi-trash" severity="danger" rounded (click)="onDelete.emit(row)"></p-button>
                    &nbsp;&nbsp;
                    }
                </div>
            </td>
            }
        </tr>
    </ng-template>
</p-table>
<p-paginator [rows]="page" [totalRecords]="data.length" (onPageChange)="onPaginate($event)" appendTo="body"
    [showJumpToPageDropdown]="false"></p-paginator>